<div class="jumbotron">
  <ul class="nav nav-tabs" style="margin-bottom: 15px;">
    <li class="active"><a href="#team" data-toggle="tab">The Team</a></li>
    <li><a href="#inspiration" data-toggle="tab">Inspiration</a></li>
    <li><a href="#ingredients" data-toggle="tab">Ingredients</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="team">
      <div class="row">
        <div class="col-xs-4">
          <p>Aimee</p>
        </div>
        <div class="col-xs-4">
          <p>Calvin</p>
        </div>
        <div class="col-xs-4">
          <p>Marvin</p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="inspiration">
      <p>
        Kicks Mix is a site dedicated to the exploration of creativity and expression through ... what else, kicks!
      </p>
      <p>
        <ul>
          <li><a href="http://www.cycletree.co">CycleTree.co</a></li>
          <li><a href="http://solecollector.com/Sneakers/Kicksology/">Kicksology / Sole Collector</a></li>
          <li><a href="http://www.jpcustomkicks.com/">JP Custom Kicks</a></li>
          <li><a href="http://www.eastbay.com/">Eastbay</a></li>
        </ul>
      </p>
    </div>
    <div class="tab-pane fade" id="ingredients">
      <div class="row">
        <div class="col-xs-4">
          <h4>some of the Ruby Gems ... </h4>
          <ul class="list-group">
            <li class="list-group-item">jQuery / jQUery UI</li>
            <li class="list-group-item">jBuilder</li>
            <li class="list-group-item">AWS SDK - S3 buckets for storing images</li>
            <li class="list-group-item">BCrypt - creating an "encrypted" password (password digest)</li>
            <li class="list-group-item">Paperclip - uploading images </li>
            <li class="list-group-item">Figaro - git ignore secret config files</li>
          </ul>
        </div>
        <div class="col-xs-4">
          <h4>Overall Design</h4>
          <ul>
            <li>RESTful API via Ruby on Rails </li>
            <li>JQuery and Backbone for Client-side User interaction
                <ul>
                  <li>AJAX</li>
                  <li>Modal Forms</li>
                  <li>Tooltips</li>
                </ul>
            </li>
            <li>Backbone / Composite View Design
              <ul>
                <li>All Shoes Page (index display)</li>
                <li>Detailed Shoe Page (shoe display - composite view)</li>
              </ul>
            </li>
            <li>User Authentication and Session Management in Ruby On Rails</li>
            <li>Bootstrap for CSS / Simplex Theme</li>
          </ul>
        </div>
        <div class="col-xs-4">
          <h4>Ruby Gems</h4>
          <ul>
            <li>BCrypt - creating an "encrypted" password (password digest)</li>
            <li>Paperclip - uploading images </li>
            <li>AWS - </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
