<div class="jumbotron">
  <h4>Editors</h4>
  <div class="row">
    <div class="col-xs-4">
      <h4>Editor</h4>
    </div>
    <div class="col-xs-4">
      <h4>Editor</h4>
    </div>
    <div class="col-xs-4">
      <h4>Editor</h4>

    </div>
  </div>
</div>
