<div class="container">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
          <div class="panel panel-default">
           <div class="panel-heading centered">Aimee</div>
           <div class="panel-body">
              <div class="circular aimee"></div>
              <h5 class="centered">Editor in Chief</h5>
              <p>The do-it-all person on the team.  Nothing's too difficult or too time-consuming for this girl.</p>
            </div>
          </div>
          </div>
          <div class="col-xs-4">
          <div class="panel panel-default">
           <div class="panel-heading centered">Calvin</div>
           <div class="panel-body">
              <div class="circular calvin"></div>
              <h5 class="centered">Shoe Critic / Reviewer</h5>
              <p>I'm love shoes. I mean I really really REALLY love shoes ... they're so tasty!</p>
            </div>
          </div>
          </div>
          <div class="col-xs-4">
          <div class="panel panel-default">
           <div class="panel-heading centered">Marvin</div>
           <div class="panel-body">
              <div class="circular marvin"></div>
              <h5 class="centered">Site Design and Development</h5>
              <p>Soon to complete App Academy.  This site is my "work-in-progress" project and I'll eventually add some more functionalities and CSS eye candy.</p>

            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>