<div class="comment-item media">
  <a class="pull-left" href="#">
    <!-- <img class="media-object" src="<%= comment.escape("photo_url") %>"> -->
  </a>

 <div class="media-body">
 <blockquote>
   <p><%= comment.escape("content") %> <%= comment.get("id") %></p>

   <small>
     <cite title="Source Title"> <%= comment.escape("username") %></cite>
   </small>
   <div class="reply-area"></div>
   <div class="comment-response"></div>
 </blockquote>
  </div>

</div>

