<div class="container">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">

  <div class="col-xs-3"></div>
  <div class="col-xs-6 center-block">
  <form id="add-review" class="form-horizontal" enctype="multipart/form-data">
    <fieldset>
      <legend>add a shoe posting</legend>
      <div class="form-group">
<!--        <label for="shoe_name" class="col-lg-2 control-label">Shoe Name</label> -->
        <div class="col-lg-10">
          <input type="text" name="shoe[name]" class="form-control" id="shoe_name" placeholder="shoe name" required>
        </div>
      </div>

      <div class="form-group">
<!--        <label for="shoe_brand" class="col-lg-2 control-label">Brand</label> -->
        <div class="col-lg-10">
          <select class="form-control" id="shoe_brand" name="shoe[brand]">
            <option id="add-category">add new brand</option>
            <option value="Adidas">Adidas</option>
            <option value="Air Jordan">Air Jordan</option>
            <option value="Asics">Asics</option>
            <option value="New Balance">New Balance</option>
            <option value="Nike">Nike</option>
            <option value="Vans">Vans</option>
            <option value="Puma">Puma</option>
            <option value="Supra">Supra</option>
          </select>
        </div>
      </div>
      <div class="form-group">
<!--         <label for="shoe_price" class="col-lg-2 control-label">Price</label> -->
        <div class="col-lg-10">
          <input type="text" name="shoe[price]" class="form-control" id="shoe_price" placeholder="price">
        </div>
      </div>

      <div class="form-group">
<!--        <label for="shoe_category" class="col-lg-2 control-label">Category</label> -->
        <div class="col-lg-10">
          <select class="form-control" id="shoe_category" name="shoe[category]">
            <option id="add-category">add category</option>
            <option value="casual">Casual</option>
            <option value="formal">Formal</option>
            <option value="basketball">Basketball</option>
            <option value="running">Running</option>
            <option value="tennis">Tennis</option>
          </select>
          <br>
          <!--
          <select multiple="" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          -->
        </div>
      </div>

  <!--
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Brand</label>
        <div class="col-lg-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Nike
            </label>
          </div>
        </div>
      </div>
  -->
      <div class="form-group">
        <span class="help-block">
          post shoe review here.
        </span>
<!--        <label for="shoe_review" class="col-lg-2 control-label">Review</label> -->
        <div class="col-lg-10">
          <textarea class="form-control" rows="5" id="shoe_review" name="shoe[review]"></textarea>
        </div>
      </div>

      <div class="form-group">
        <span class="help-block">
          upload photo here.
        </span>
<!--        <label for="shoe_photo" class="col-lg-2 control-label">Photo</label> -->
        <div class="col-lg-10">
          <input type="file" id="shoe_photo" name="shoe[shoe_photo]" multiple accept="image/png,image/gif,image/jpeg" class="btn btn-link"/>

        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <input type="reset" class="btn btn-link" value="Reset">
          <input type="submit" class="btn btn-link" value="Submit">
        </div>
      </div>
    </fieldset>
  </form>
  </div>
</div>
</div>
</div>
</div>
