<div class="container">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <img src="<%= shoe.escape("shoe_photo_lg") %>" class="img-responsive"/>
            <br/>
            <div id="comment-form">
              <ul id="shoe-navigation" class="nav nav-pills"></ul>
            </div>
            <br/>
            <div id="comments"></div>
          </div>
          <div class="col-xs-6">
            <h2><%= shoe.escape("name") %></h2>

             <p>
               <%= shoe.escape("review") %>
             </p>



            <div class="panel panel-default col-xs-12">
              <div class="panel-heading centered">liked this shoe</div>
              <div class="panel-body">
                <div id="likes-by-section" class="row"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


