/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require pen
 *= require owl.carousel.css
 *= require owl.transitions.css
 *= require owl.theme.css
 *= require transitions
 */
@import "bootstrap";

h1.kicks-mix-logo {
  width: 350px;
  height: 300px;
  background: url("kicks-mix-logo.png") no-repeat;
  text-indent: -9999px;
  left: 140px;
  position: relative;
}

h1.logo-png {
  width: 350px;
  height: 300px;
  background: url("logo.png") no-repeat;
  text-indent: -9999px;
  left: 140px;
  top: -120px;
  position: relative;
}

h2.logo-png-small {
  width: 300px;
  height: 170px;
  background: url("logo.png")  no-repeat;
  background-size: 218px 155px;
  text-indent: -9999px;
  left: -5px;
  top: -90px;
  position: relative;
  font: #eee;
}

.thumbnail {
display: block;
padding: 4px;
margin-bottom: 20px;
line-height: 1.42857143;
background-color: #fcfcfc;
border: 1px solid #dddddd;
border-radius: 4px;
height: 270px;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}


.thumbnail h4 {
  text-align: center;
}

ul.nav-pills li a{
  width: 135px;
  height: 70px;
}
img.top_logo {
  position: relative;
  top: -60px;
  width: 540px;
}
img.img-thumbnail .small {
  width: 30px;
  height: 30px;
}

img.index {
  -moz-box-shadow: 0 0 20px #ccc;
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
}
img.index:hover, button img:hover {
  -moz-box-shadow: 0 0 40px #ccc;
  -webkit-box-shadow: 0 0 40px  #ccc;
  box-shadow: 0 0 40px  #ccc;
  opacity: 0.8;
  filter: alpha(opacity=30);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  text-align: center;
}

.image-index {
  width: 100%;
  position: relative;
}
.image-index {
  padding-bottom: 2em;
}
.image-index img {
  padding: 1em;
}

.image-index h4 {
   position: absolute;
   bottom: 80px;
   left: 0px;
   width: 100%;
   opacity: .9;
}

.image-index h4.matches {
   display: none;
   position: absolute;
   bottom: 50px;
   left: 0px;
   width: 100%;
   z-index:10000;
   font-size: 1em;
}

.image-index:hover {
  h4.matches {
      display: block;
      opacity: .9;
      transition-delay:10s;
  }
}

img.inline-image {
  display: inline-block;
}

.centered-item {
  text-align: center;
}

.list-group .img-thumbnail {
  margin: 0 auto;
}
