<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<div class="form-group">
  <input id="user_username" type="text" name="user[username]" value="<%= @user.username %>" placeholder="username" class="form-control"/>
</div>
<div class="form-group">
  <input id="user_email" type="text" name="user[email]" value="<%= @user.email %>" placeholder="email" class="form-control"/>
</div>
<div class="form-group">
  <input id="user_password" type="password" name="user[password]" placeholder="password" value="<%#= @user.password %>" class="form-control"/>

</div>
