<div class="navbar navbar-default">

  <!--
  <div class="navbar-header">

    <a class="navbar-brand" href="#">
      <%#= image_tag("nav_logo.png") %>
    </a>
  </div>
  -->

  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <form class="navbar-form navbar-right">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="">Kicks Reviews</a></li>
      <li><a href="editors">Editors</a></li>
      <li><a href="about_us">About Us</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Sign in as a guest</a></li>
          <li><a href="#">Sign into my account</a></li>
          <li class="divider"></li>
          <li><a href="#">Register</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>